section {
  margin-top: 2em;
  display: flex;
}

/* ---left section--- */

.article-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  min-width: 25%;
}

.articles-images {
  width: 100%;
}

.article-left-section p {
  font-size: 0.6em;
  margin: 0.75em 0em;
  color: #707070;
}

.article-left-section span {
  padding: 0.5em;
}

/* ---right section--- */

.article-right-section {
  padding: 0em 2em;
}

/*  style for <h2>, <p> and <a>
    in main-article.css
*/